#schools {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#schools td, #schools th {
    border: 1px solid #ddd;
    padding: 8px;
}

#schools tr:nth-child(even){background-color: #f2f2f2;}

#schools tr:hover {background-color: #ddd;}

#schools th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

#pagination, #dataTable-div{
    width: 100%;
    text-align: center;
    padding: 0 0 5px 0;
  }

